.navbar {
  box-shadow: inset 0px -1px 0px rgba(78, 93, 120, 0.25) !important;
  background-color: #ffffff !important;
  height: 69px !important;
  .navbar-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
}
